@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul {
  padding-left: 2rem; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.875em; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #409EFF;
  text-decoration: none; }
  a:hover {
    color: #0077f3;
    text-decoration: underline; }

a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word; }
  a > code {
    color: inherit; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

progress {
  vertical-align: baseline; }

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

main {
  display: block; }

[hidden] {
  display: none !important; }

.zoom-in-top-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

.zoom-in-top-enter-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center top;
          transform-origin: center top; }

.zoom-in-top-exit {
  opacity: 1; }

.zoom-in-top-exit-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center top;
          transform-origin: center top; }

.zoom-in-left-enter {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45); }

.zoom-in-left-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.zoom-in-left-exit {
  opacity: 1; }

.zoom-in-left-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.zoom-in-right-enter {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45); }

.zoom-in-right-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.zoom-in-right-exit {
  opacity: 1; }

.zoom-in-right-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.zoom-in-bottom-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

.zoom-in-bottom-enter-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

.zoom-in-bottom-exit {
  opacity: 1; }

.zoom-in-bottom-exit-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

.btn {
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem; }
  .btn:focus, .btn.focus {
    outline: 0; }
  .btn.disabled, .btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none; }
    .btn.disabled > *, .btn[disabled] > * {
      pointer-events: none; }

.btn-type-link {
  font-weight: 400;
  color: #409EFF;
  border-color: #409EFF;
  text-decoration: none;
  box-shadow: none; }
  .btn-type-link:hover {
    color: #0077f3;
    text-decoration: underline; }
  .btn-type-link:focus, .btn-type-link.focus {
    text-decoration: underline;
    box-shadow: none; }

.btn-size-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.btn-size-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.btn-type-primary {
  color: #006bd9;
  background: rgba(64, 158, 255, 0.2);
  border-color: #8dc5ff; }
  .btn-type-primary:hover, .btn-type-primary:focus, .btn-type-primary.focus {
    color: #fff;
    background: #409EFF;
    border-color: #409EFF; }

.btn-type-secondary {
  color: #3d4246;
  background: rgba(108, 117, 125, 0.2);
  border-color: #939ba2; }
  .btn-type-secondary:hover, .btn-type-secondary:focus, .btn-type-secondary.focus {
    color: #fff;
    background: #6c757d;
    border-color: #6c757d; }

.btn-type-success {
  color: #3d7323;
  background: rgba(103, 194, 58, 0.2);
  border-color: #94d573; }
  .btn-type-success:hover, .btn-type-success:focus, .btn-type-success.focus {
    color: #fff;
    background: #67C23A;
    border-color: #67C23A; }

.btn-type-info {
  color: #5d6066;
  background: rgba(144, 147, 153, 0.2);
  border-color: #b8babe; }
  .btn-type-info:hover, .btn-type-info:focus, .btn-type-info.focus {
    color: #fff;
    background: #909399;
    border-color: #909399; }

.btn-type-warning {
  color: #a76d15;
  background: rgba(230, 162, 60, 0.2);
  border-color: #efc280; }
  .btn-type-warning:hover, .btn-type-warning:focus, .btn-type-warning.focus {
    color: #fff;
    background: #E6A23C;
    border-color: #E6A23C; }

.btn-type-danger {
  color: #eb1010;
  background: rgba(245, 108, 108, 0.2);
  border-color: #fab4b4; }
  .btn-type-danger:hover, .btn-type-danger:focus, .btn-type-danger.focus {
    color: #fff;
    background: #F56C6C;
    border-color: #F56C6C; }

.btn-type-light {
  color: #bdc6d0;
  background: rgba(248, 249, 250, 0.2);
  border-color: white; }
  .btn-type-light:hover, .btn-type-light:focus, .btn-type-light.focus {
    color: #fff;
    background: #f8f9fa;
    border-color: #f8f9fa; }

.btn-type-dark {
  color: #060708;
  background: rgba(52, 58, 64, 0.2);
  border-color: #56606a; }
  .btn-type-dark:hover, .btn-type-dark:focus, .btn-type-dark.focus {
    color: #fff;
    background: #343a40;
    border-color: #343a40; }

.tiny-alert {
  position: relative;
  padding: 0.55rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .tiny-alert .bold-title {
    font-weight: 700; }
  .tiny-alert .tiny-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.55rem 1rem;
    color: inherit;
    cursor: pointer; }
  .tiny-alert .tiny-alert-desc {
    font-size: 0.875rem;
    margin: 0.3rem 0 0; }

.tiny-alert-primary {
  color: #0d84ff;
  background-color: rgba(64, 158, 255, 0.2);
  border-color: #a6d2ff; }

.tiny-alert-secondary {
  color: #545b62;
  background-color: rgba(108, 117, 125, 0.2);
  border-color: #a1a8ae; }

.tiny-alert-success {
  color: #529b2e;
  background-color: rgba(103, 194, 58, 0.2);
  border-color: #a3db87; }

.tiny-alert-info {
  color: #767980;
  background-color: rgba(144, 147, 153, 0.2);
  border-color: #c5c7ca; }

.tiny-alert-warning {
  color: #d48a1b;
  background-color: rgba(230, 162, 60, 0.2);
  border-color: #f2cd96; }

.tiny-alert-danger {
  color: #f23c3c;
  background-color: rgba(245, 108, 108, 0.2);
  border-color: #fbcccc; }

.tiny-alert-light {
  color: #dae0e5;
  background-color: rgba(248, 249, 250, 0.2);
  border-color: white; }

.tiny-alert-dark {
  color: #1d2124;
  background-color: rgba(52, 58, 64, 0.2);
  border-color: #626d78; }

.tiny-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .tiny-menu > .menu-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
    .tiny-menu > .menu-item:hover, .tiny-menu > .menu-item:focus {
      text-decoration: none; }
    .tiny-menu > .menu-item.is-disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default; }
    .tiny-menu > .menu-item.is-active, .tiny-menu > .menu-item:hover {
      color: #409EFF;
      border-bottom: 2px solid #409EFF; }
  .tiny-menu .submenu-item {
    position: relative; }
    .tiny-menu .submenu-item .submenu-title {
      display: flex;
      align-items: center; }
    .tiny-menu .submenu-item .arrow-icon {
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;
      transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
      margin-left: 3px; }
    .tiny-menu .submenu-item:hover .arrow-icon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .tiny-menu .is-vertical .arrow-icon {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important; }
  .tiny-menu .is-vertical.is-opened .arrow-icon {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important; }
  .tiny-menu .tiny-submenu {
    list-style: none;
    padding-left: 0;
    white-space: nowrap; }
    .tiny-menu .tiny-submenu .menu-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      color: #212529; }
      .tiny-menu .tiny-submenu .menu-item.is-active, .tiny-menu .tiny-submenu .menu-item:hover {
        color: #409EFF !important; }

.menu-horizontal > .menu-item {
  border-bottom: 2px solid transparent; }

.menu-horizontal .tiny-submenu {
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04); }

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: 1px solid #dee2e6; }
  .menu-vertical > .menu-item {
    border-left: 2px solid transparent; }
    .menu-vertical > .menu-item.is-active, .menu-vertical > .menu-item:hover {
      border-bottom: 0px;
      border-left: 2px solid #409EFF; }

.tiny-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6; }

.tiny-tabs-nav-item {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer; }
  .tiny-tabs-nav-item:hover, .tiny-tabs-nav-item:focus {
    color: #409EFF; }
  .tiny-tabs-nav-item.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    border-color: transparent; }
  .tiny-tabs-nav-item.is-active {
    color: #409EFF; }

.nav-line .tiny-tabs-nav-item.is-active {
  border-bottom: 2px solid #409EFF; }

.nav-card .tiny-tabs-nav-item {
  border: 1px solid transparent;
  margin-bottom: -1px; }
  .nav-card .tiny-tabs-nav-item.is-active {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff; }

.tiny-tabs-content {
  margin-top: 1rem; }

.icon-primary {
  color: #409EFF; }

.icon-secondary {
  color: #6c757d; }

.icon-success {
  color: #67C23A; }

.icon-info {
  color: #909399; }

.icon-warning {
  color: #E6A23C; }

.icon-danger {
  color: #F56C6C; }

.icon-light {
  color: #f8f9fa; }

.icon-dark {
  color: #343a40; }

.tiny-input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative; }
  .tiny-input-wrapper .icon-wrapper {
    position: absolute;
    height: 100%;
    width: 35px;
    justify-content: center;
    color: #495057;
    right: 0;
    top: 0;
    display: flex;
    align-items: center; }
    .tiny-input-wrapper .icon-wrapper svg {
      color: #6c757d; }

.icon-wrapper + .tiny-input-inner {
  padding-right: 35px; }

.tiny-input-inner {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
  .tiny-input-inner:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c0dfff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(64, 158, 255, 0.25); }
  .tiny-input-inner::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .tiny-input-inner::-moz-placeholder {
    color: #6c757d;
    opacity: 1; }
  .tiny-input-inner:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .tiny-input-inner::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .tiny-input-inner::placeholder {
    color: #6c757d;
    opacity: 1; }
  .tiny-input-inner:disabled, .tiny-input-inner[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

.tiny-input-group-prepend,
.tiny-input-group-append {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

.tiny-input-group-append + .btn {
  padding: 0;
  border: 0; }

.input-group > .tiny-input-group-prepend,
.input-group.input-group-append > .tiny-input-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .tiny-input-group-append,
.input-group.input-group-prepend > .tiny-input-inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-size-sm .tiny-input-inner {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.input-size-lg .tiny-input-inner {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.tiny-auto-complete {
  position: relative; }

.tiny-suggestion-list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 100%; }
  .tiny-suggestion-list .suggstions-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px; }
  .tiny-suggestion-list .suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #212529; }
    .tiny-suggestion-list .suggestion-item.is-active {
      background: #409EFF !important;
      color: #fff !important; }
    .tiny-suggestion-list .suggestion-item:hover {
      color: #409EFF !important; }

.tiny-select {
  position: relative; }
  .tiny-select .tiny-input-wrapper {
    cursor: pointer; }
    .tiny-select .tiny-input-wrapper:hover input {
      border-color: #409EFF !important; }
  .tiny-select input[readonly] {
    background-color: #fff;
    border-color: #ced4da;
    cursor: pointer;
    opacity: 1; }
  .tiny-select input:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed; }
  .tiny-select .icon-wrapper {
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important; }

.tiny-select.menu-is-open .icon-wrapper {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important; }

.tiny-select-dropdown {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 100%; }
  .tiny-select-dropdown .tiny-select-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .tiny-select-dropdown .tiny-select-item.is-selected {
      color: #409EFF;
      font-weight: 700; }
    .tiny-select-dropdown .tiny-select-item.is-disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default; }
    .tiny-select-dropdown .tiny-select-item:hover {
      background-color: rgba(64, 158, 255, 0.1); }

.tiny-selected-tags {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .tiny-selected-tags .tiny-tag {
    height: 80%;
    padding: 2px 5px;
    box-sizing: border-box;
    border: 1px solid rgba(64, 158, 255, 0.2);
    margin-left: 6px;
    border-radius: 3px;
    color: #409EFF;
    background-color: rgba(64, 158, 255, 0.1); }
  .tiny-selected-tags .tiny-icon {
    margin-left: 3px;
    cursor: pointer; }
    .tiny-selected-tags .tiny-icon:hover {
      color: #0d84ff; }

.tiny-upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.tiny-uploader-dragger {
  background: #f8f9fa;
  border: 1px dashed #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 360px;
  height: 180px;
  text-align: center; }
  .tiny-uploader-dragger:hover {
    border: 1px dashed #409EFF; }
  .tiny-uploader-dragger.is-dragover {
    border: 2px dashed #409EFF;
    background: rgba(64, 158, 255, 0.2); }

.tiny-upload-list-item {
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  position: relative; }
  .tiny-upload-list-item:first-child {
    margin-top: 10px; }
  .tiny-upload-list-item .file-name {
    margin-left: 5px;
    margin-right: 40px; }
    .tiny-upload-list-item .file-name svg {
      margin-right: 5px;
      color: #adb5bd; }
  .tiny-upload-list-item .file-name-error {
    color: #F56C6C; }
    .tiny-upload-list-item .file-name-error svg {
      color: #F56C6C; }
  .tiny-upload-list-item .file-status {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit; }
  .tiny-upload-list-item .file-actions {
    display: none;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: inherit;
    cursor: pointer; }
  .tiny-upload-list-item:hover {
    background-color: #e9ecef; }
    .tiny-upload-list-item:hover .file-status {
      display: none; }
    .tiny-upload-list-item:hover .file-actions {
      display: block; }

.tiny-progress-bar {
  width: 100%;
  box-sizing: border-box; }
  .tiny-progress-bar .tiny-progress-bar-outer {
    border-radius: 0.25rem;
    background-color: #e9ecef;
    overflow: hidden;
    position: relative; }
  .tiny-progress-bar .tiny-progress-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: 0.25rem;
    line-height: 1;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease; }
    .tiny-progress-bar .tiny-progress-bar-inner .inner-text {
      color: #fff;
      font-size: 0.75rem;
      margin: 0 5px; }
  .tiny-progress-bar .color-primary {
    background-color: #409EFF; }
  .tiny-progress-bar .color-secondary {
    background-color: #6c757d; }
  .tiny-progress-bar .color-success {
    background-color: #67C23A; }
  .tiny-progress-bar .color-info {
    background-color: #909399; }
  .tiny-progress-bar .color-warning {
    background-color: #E6A23C; }
  .tiny-progress-bar .color-danger {
    background-color: #F56C6C; }
  .tiny-progress-bar .color-light {
    background-color: #f8f9fa; }
  .tiny-progress-bar .color-dark {
    background-color: #343a40; }

